apiVersion: apps/v1
kind: Deployment
metadata:
   name: 2048-deployment
   labels:
      app: 2048-ws
spec:
   replicas: 2
   selector:
      matchLabels:
         app: 2048-ws
   template:
      metadata:
         labels:
            app: 2048-ws
      spec:
         containers:
         - name: 2048-container
           image: blackicebird/2048
           ports:
             - containerPort: 80
           resources:
             limits:
               memory: "128Mi"
               cpu: "250m"
             requests:
               memory: "64Mi"
               cpu: "100m"
           securityContext:
             allowPrivilegeEscalation: false
             capabilities:
               drop:
               - ALL
       - containerPort: 80